@charset "UTF-8";

/* <span class="material-symbols-outlined">mail</span> */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #D573A0;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #5C002A;
    width: 300px;
    height: 580px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.700);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: #D573A0 url("../imagens/metal.jpg");
    height: 220px;
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    
}

div#formulario > h1 {
    margin-bottom: 10px;
    text-align: center;
}

div#formulario > p {
    margin: 5px;
    font-size: 1.1em;
}

form > input[type=submit] {
    background-color: #D573A0;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: #B44578;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #801144;
    border: 2px solid #D573A0 ;
    border-radius: 15px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a.botao:hover {
    background-color: #5C002A;
}

form > div.campo {
    background-color: #801144;
    display: block;
    border-radius: 15px;
    height: 40px;
    margin-top: 10px;
    border: 2px solid #801144;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #D573A0;
    border: none;
    font-size: 1em;
    width: calc(80% + 10px);
    transform: translateY(-13px);
    height: 100%;
    border-radius: 15px;
    padding: 5px;
}

div.campo > input:focus {
    background-color: white;
}